#adminTree{
  .bg {
    background: #F6F1EB;
    padding-top: -10rem;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  
  .container {
    width: 85%;
    margin: auto;
  }
  .garden {
    width: 70vw;
    height: 50vh;
    margin: 1rem;
    padding: 2rem;
    background-image: url(https://github.com/gagiHerDesign/00_GAGI----/blob/master/quasar-project/src/assets/img/admin/treeProduct.png?raw=true);
    background-repeat: no-repeat;
    img{
      filter: drop-shadow(12px 12px 1px #fddc49);
    }
  }
  .q-card__actions {
    padding: 0;
  }
}