// @font-face {
//   font-family: 'Gilroy-ChiayiCity';
//   src: url('../assets/font/ChiayiCity.woff') format("woff");
// }

$breakpoint-sm: 540px;
$breakpoint-md: 750px;
$breakpoint-xl: 1024px;

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}


#hero {
  width: 99vw;
  position: relative;

  .kv {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .Big_title {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007bff 1px solid;
    z-index: 1000;
    font-family: 'Gilroy-ChiayiCity';
    text-align: left;

    .Big_h1 {
      margin: -26rem 4rem 0 4rem;
      font-size: 5vw;
    }
  }

  @include md {
    .Big_title {

      .Big_h1 {
        margin: 0 3rem;
      }
    }
  }
}

.marquee {
  margin-top: 10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 8vw;
  color: rgb(240, 232, 213);
}

#indexContainer {
  margin: auto;
  
  #brandStory{
    width: 70%;
    margin: 0 auto 40vh auto;

  
  .story {
    margin-top: 30vh;
    width: 100%;
    position: relative;

    .storyImg {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9000;
    }

    .parallax {
      height: 300px !important;
    }
  }

  .services_popup {
    display: flex;
    justify-items: flex-start;
    margin-top: 5rem;
    width: 100%;
    border: #007bff 1px solid;

    .popup {
      $width: 15vw;
      width: $width;
      height: $width;
      margin: 0 auto 0 auto;
      background: #ffffff;
      border-radius: 50%;

      img {
        width: 70%;
      }

      .pop_info {
        .title_s {
          font-family: 'Roboto';
          margin-top: 1rem;
          font-weight: 600;
          position: relative;
          font-size: 3vh;
          
          &::before {
            content: '';
            width: 2vw;
            height: 1px;
            background: rgb(253, 125, 125);
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
          }

          &::after {
            content: '';
            width: 1px;
            height: 2vw;
            background: rgb(253, 125, 125);
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
          }
        }

        .info {
          margin-left: 2rem;
          display: none;
          border: #007bff 1px solid;
          width: 200px;
          text-align: left;
          line-height: 2;
        }
      }

      &:hover {
        .info {
          display: block;
        }
      }
    }
  }
}
#plant{
  .imgF{
    width:55vw;
  }
  .plant2{
    width: 80%;
    img{
      width: 100%;
    }
    .plantInfo{
  margin:5rem 5rem;
  text-align: left;
  .plantBtn{
    $h: 20vh;
    width: $h;
    height: $h;
    font-size: calc(12px + 2vh) ;
  }
  }

}
}
}