// @font-face {
//   font-family: 'Gilroy-ChiayiCity';
//   src: url('../assets/font/ChiayiCity.woff') format("woff");
// }

$breakpoint-sm: 540px;
$breakpoint-md: 750px;
$breakpoint-xl: 1024px;

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}


#hero {
  width: 99vw;
  position: relative;

  .kv {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .Big_title {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007bff 1px solid;
    z-index: 1000;
    font-family: 'Gilroy-ChiayiCity';
    text-align: left;

    .Big_h1 {
      margin: -26rem 4rem 0 4rem;
      font-size: 5vw;
    }
  }

  @include md {
    .Big_title {

      .Big_h1 {
        margin: 0 3rem;
      }
    }
  }
}

.marquee {
  margin-top: 10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 8vw;
  color: rgb(240, 232, 213);
}

#indexContainer {
  margin: auto;
  
  #brandStory{
    width: 70%;
    margin: 0 auto 40vh auto;

  
  .story {
    margin-top: 30vh;
    width: 100%;
    position: relative;

    .storyImg {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9000;
    }

    .parallax {
      height: 300px !important;
    }
  }

  .services_popup {
    display: flex;
    justify-items: flex-start;
    margin-top: 5rem;
    width: 100%;
    border: #007bff 1px solid;

    .popup {
      $width: 15vw;
      width: $width;
      height: $width;
      margin: 0 auto 0 auto;
      background: #ffffff;
      border-radius: 50%;

      img {
        width: 70%;
      }

      .pop_info {
        .title_s {
          font-family: 'Roboto';
          margin-top: 1rem;
          font-weight: 600;
          position: relative;
          font-size: 3vh;
          
          &::before {
            content: '';
            width: 2vw;
            height: 1px;
            background: rgb(253, 125, 125);
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
          }

          &::after {
            content: '';
            width: 1px;
            height: 2vw;
            background: rgb(253, 125, 125);
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
          }
        }

        .info {
          margin-left: 2rem;
          display: none;
          border: #007bff 1px solid;
          width: 200px;
          text-align: left;
          line-height: 2;
        }
      }

      &:hover {
        .info {
          display: block;
        }
      }
    }
  }
}
#plant{
  .imgF{
    width:55vw;
  }
  .plant2{
    width: 80%;
    img{
      width: 100%;
    }
    .plantInfo{
  margin:5rem 5rem;
  text-align: left;
  .plantBtn{
    $h: 20vh;
    width: $h;
    height: $h;
    font-size: calc(12px + 2vh) ;
  }
  }
}
}
#indexPro{
  
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');

$color-teal: #0D3D4D;

::selection {
  background-color: #2256A1;
  color: white;
}

#site {
  display: grid;
  grid-template-rows: 3fr 2fr;
  grid-template-columns: 4rem 1fr 1fr 5rem;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 .5rem 2rem rgba(black, 0.1);
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;

  * {
    transition: all .6s cubic-bezier(.2, 0, .2, 1);
  }
}

#site { 
  --total: 4; 
  --scene: 1;
  --percentage: calc(var(--scene) / var(--total));
}

input[name="scene"] { 
  position: absolute; 
  top: 0; 
  left: -100%; 
  visibility: hidden;
  z-index: 5; 
}
input[value="1"]:checked ~ #site { --scene: 1; }
input[value="2"]:checked ~ #site { --scene: 2; }
input[value="3"]:checked ~ #site { --scene: 3; }
input[value="4"]:checked ~ #site { --scene: 4; }

input[value="1"]:checked ~ * [data-scene]:not([data-scene="1"]),
input[value="2"]:checked ~ * [data-scene]:not([data-scene="2"]),
input[value="3"]:checked ~ * [data-scene]:not([data-scene="3"]),
input[value="4"]:checked ~ * [data-scene]:not([data-scene="4"]) {
  pointer-events: none;
  
  .heading, .paragraph, .fact {    
    transform: translateX(-25%);
    opacity: 0;
  }
}

input[value="1"]:checked ~ * [data-scene="1"],
input[value="2"]:checked ~ * [data-scene="2"],
input[value="3"]:checked ~ * [data-scene="3"],
input[value="4"]:checked ~ * [data-scene="4"] {
  + [data-scene] {
    .heading, .paragraph, .fact {
      transform: translateX(25%);
    }
  }
}

.ocean {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: blue;
  background-image: url(https://picsum.photos/1200/800?image=912);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.ocean-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 45vh;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  position: relative;
  background-image: url(https://picsum.photos/1200/800?image=909);
  background-size: 160% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-position: calc( 25% + (-50% * var(--percentage)) ) 0;

  transform: 
    translateX( calc( 50% + ( -100% * var(--percentage) ) ) );
}

.left-content {
  float: left;
  grid-row: 2 / 4;
  grid-column: 2 / 3;

  .layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > .subtitle {
      font-weight: bold;
      color: $color-teal;
    }

    > .subtitle, > .description {
      font-size: .75rem;
    }

    > .subtitle, > .number {
      color: $color-teal;
    }

    > .number {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }

}

.right-content {
  grid-row: 2 / 4;
  grid-column: 3 / -1;

  > .layer {    
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .heading {
      margin: 0;
      font-size: 1rem;
      color: $color-teal;
    }
  }
}

/* ---------------------------------- */

.slide-nav {
  position: absolute;
  bottom: 100%;
  right: 0;
  display: flex;
}


.nav-button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #F9FBFB;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  color: #8CAAB7;
  
  &.-next {
    color: #2D4451;
    background: #CEDBE5; }

  .nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    transform: translateX(0);
    transition: transform 0.5s linear 0s;
    z-index: 1;
  }
}

input[value="1"]:checked ~ * .-next .nav-toggle:not([for="scene-2"]),
input[value="2"]:checked ~ * .-next .nav-toggle:not([for="scene-3"]),
input[value="3"]:checked ~ * .-next .nav-toggle:not([for="scene-4"]),
input[value="4"]:checked ~ * .-next .nav-toggle:not([for="scene-1"]),
input[value="1"]:checked ~ * .-prev .nav-toggle:not([for="scene-4"]),
input[value="2"]:checked ~ * .-prev .nav-toggle:not([for="scene-1"]),
input[value="3"]:checked ~ * .-prev .nav-toggle:not([for="scene-2"]),
input[value="4"]:checked ~ * .-prev .nav-toggle:not([for="scene-3"]) {
  transform: translateX(100%);
  z-index: 3;
  transition-delay: .5s !important;
}

.top-nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 1em rgba(0,0,0,0.4);
}

/* ---------------------------------- */

.left-side {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  // align-self: end;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.page-numbers {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  color: #FFF;
  transform: translateY(.5rem);

  &:after {
    content: '/ ' attr(data-total);
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 4.2rem;
    opacity: 0.7;
  }
}

.page-number {
  display: inline-block;

  &.-ones {
    transform: translateY(
      calc((var(--total) - var(--scene))
      * (100% / var(--total)))
      );
  }
}

.hero {
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  color: #FFF;

  > .layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .heading {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .button {
    appearance: none;
    border: none;
    padding: 1rem;
    background-color: $color-teal;
    color: white;
    font-size: .6rem;
    font-family: inherit;
  }
}


.layer {
  position: absolute;
  top: 0;
  left: 0;
  // this...
  bottom: 0;
  right: 0;
  // or this... (preferred)
  width: 100%;
  height: 100%;
  margin: auto;
}


// -------------------------------

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
}
#ppbug{
  width: 100px;
  height: 100px;
}
}